@font-face {
  font-family: 'LineIcons';
  src: url('/assets/fonts/LineIcons.eot');
  src: url('/assets/fonts/LineIcons.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/LineIcons.woff2') format('woff2'),
       url('/assets/fonts/LineIcons.woff') format('woff'),
       url('/assets/fonts/LineIcons.ttf') format('truetype'),
       url('/assets/fonts/LineIcons.svg#LineIcons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.lni {
  font-family: 'LineIcons' !important;
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  line-height: 1;
  color: rgba(230, 0, 0, 0.959);
}
.lni-user::before {
    content: "\e602"; 
}