body {
  font-family: 'Inter', sans-serif;
}

.text-brown {
  color: #A67B5B;
}

.btn-brown {
  background-color: #A67B5B;
  border-color: #A67B5B;
}

.btn-brown:hover {
  background-color: #8d6649;
  border-color: #8d6649;
}

/* Circles in pathway */
.circle {
  width: 120px;
  height: 120px;
  background: #EFEBE7;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #A67B5B;
  margin: auto;
}

.content-section.d-none {
  display: none !important;
}

.flowchart-step.active {
  border-color: #A67B5B !important;
  background: #F5F1EC !important;
}
